@import 'tailwindcss';

@layer components {
  .ad-container {
    max-width: 1000px;
    position: relative;
    width: 1000px auto;
    /* Adjust as necessary */
    height: auto;
    /* Adjust as necessary */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgba(51, 51, 51, 0.9), rgba(85, 85, 85, 0.9));
    /* background: linear-gradient(45deg, #333, #555); */

    /* background: none; */
    background-size: 400% 400%;

    /* animation: gradientBackground 10s ease infinite; */
  }

  .ad-gif {
    width: 100%;
    height: 100%;

    mix-blend-mode: screen;
    animation:
      tiltImage 10s ease-in-out infinite alternate,
      hueRotate 10s linear infinite;
  }

  @keyframes gradientBackground {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes tiltImage {
    0% {
      transform: rotate(-2deg);
    }

    100% {
      transform: rotate(2deg);
    }
  }

  @keyframes hueRotate {
    0% {
      filter: hue-rotate(0deg);
    }

    100% {
      filter: hue-rotate(360deg);
    }
  }

  /* Advertisement button style */
  .advertisement-button {
    font-size: 36px;
    border-radius: 50px;
    font-weight: bold;
    font-style: italic;
    padding: 10px 20px;
    cursor: pointer;
  }

  /* Media query for Bootstrap md size and smaller */
  @media (max-width: 768px) {
    .advertisement-button {
      font-size: 24px;
      /* Adjust as needed for appropriate phone size */
    }
  }

  .advertisement-button {
    z-index: 4;
    /* Or any value higher than the overlaying element */
  }
}
